
body{
  background: #0a531a;
}



  
  /*.navbar {
    height: 50px;
    padding: 0 15px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  
  .navbar a {
    color: white;
    line-height: 3em;
  }
  
  .table-area {
    position: relative;
    margin-top: 0px;
  }
  
  table.responsive-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
  }
  
  table.responsive-table thead {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    line-height: 3em;
    background: #085719;
    table-layout: fixed;
    display: table;
  }
  
  table.responsive-table th {
    background: #085719;
    text-align: left;   
  }
  
  table.responsive-table td {
    line-height: 2em;
    text-align: left;
  }
  
  table.responsive-table tr > td,
  table.responsive-table th {
    text-align: left;
  }
* {
    box-sizing: border-box;
}
*/
/*
html {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(32, 48, 65);
    color:  rgb(34, 105, 72);
    height: 100%;
}

a {
    color:  rgb(34, 105, 72);
}

a:hover {
    color: rgb(34, 105, 72);
}

.shadow {
    box-shadow: 0 8px 12px rgba(197, 20, 20, 0.2), 0 5px 6px rgba(219, 37, 37, 0.3);
}
*/

/*.sidenav {
    
    width: 160px;
    position: fixed;
    height: 100%;  
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: rgb(34, 105, 72); 
    overflow-x: hidden; 
    padding-top: 20px;
  }
  

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
   Style page content
  .main {
    margin-left: 160px;  
    padding: 0px;
  }
  .bigGraph{
    margin-left: 70px;
    float: left;
    width: 90%;
    height: 20%;
  } 
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .column {
    float: left;
    width: 45%;
  } 
  
   Clear floats after the columns
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
   
*/
  